@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea{
    border-width: 2px;
    border-color: #707070;  
    border-radius: 0.375rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    width: 100%;
    margin-bottom: 4px;
}

input:focus, textarea:focus {
    border-color: #1e3a8a;
    outline: none;
}

h1{
    color: #1e3a8a; 
    margin-bottom: 0.5rem; 
    font-size: 1.25rem;
}

label{
    color:#1e3a8a;
}

.btn-primary{
    background-color: #1e3a8a;
    color: #fff;
    border-radius: 0.375rem;
    padding: 0.25rem 1rem 0.25rem 1rem;
    margin-top: 6px;
}

table.basic{
    width: 100%;
}

table.basic thead tr td{
    background-color: #e0f2fe;
}

table.basic tr td{
    border: #acacac 1px solid;
    padding: 0.25rem;
}

table.basic a{
    background-color: #1e3a8a;
    color: #fff;
    border-radius: 0.375rem;
    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
    margin-top: 6px;
    display: inline-flex;
}